img {
	width: 80px;

}

.titile {
	padding: 5px;
}

  .b{
    font-size: 70%;
    word-break: break-all;
  }

  .p{
   font-size: 70%;
    
  }

.input{
   min-width: 295px;
	width: 100%;
	height: 30px;
	border: solid 1px black;
	text-align: center;
   font-size: 18px;
}




.result {

	width: 99.6%;
   display: grid;
   grid-template-columns: 2fr 6fr 2fr;
   grid-template-rows: 80px;
   border:solid 1px black;
   overflow: hidden;
   margin-top: 5px;
   background: white;
}

.result a {
	width: 80px;
}

.chosen {
   min-width: 350px;
	width: 31%;
   display: grid;
   grid-template-columns: 2fr 6fr 2fr;
   grid-template-rows: 80px;
   border:solid 1px black;
   overflow: hidden;
   background: white;
   margin:10px;
   text-align: center;


   
}

.div{
	display: flex;
   flex-wrap: wrap;
   
   
   margin-top: 80px;
   
}

